<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/prettify.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Action("NemerleWebJs", "NemerleWebResource")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/nweb.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/sammy.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/prettify.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lang-n.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/linq.js")" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    <style>
        
    </style>
</head>
    <body onload="prettyPrint()">
        <div class="logo-container">
            <h1 class="logo"><a href="@Url.Content("~")">NemerleWeb</a><span>Next Generation Web Framework</span></h1>
        </div>
        <div class="body-container">
            @RenderBody()
        </div>
        <footer>
            Github: <a href="https://github.com/ionoy/NemerleWeb">https://github.com/ionoy/NemerleWeb</a>
        </footer>
    </body>
</html>
